@font-face {
  font-family: 'Conv_Roboto-Light';
  src: url('fonts/fontsRoboto/Roboto-Light/Roboto-Light.eot'),
  url('fonts/fontsRoboto/Roboto-Light/Roboto-Light.woff') format('woff'),
  url('fonts/fontsRoboto/Roboto-Light/Roboto-Light.ttf') format('truetype'),
  url('fonts/fontsRoboto/Roboto-Light/Roboto-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Roboto-Regular';
  src: url('fonts/fontsRoboto/Roboto-Regular/Roboto-Regular.eot'),
  url('fonts/fontsRoboto/Roboto-Regular/Roboto-Regular.woff') format('woff'),
  url('fonts/fontsRoboto/Roboto-Regular/Roboto-Regular.ttf') format('truetype'),
  url('fonts/fontsRoboto/Roboto-Regular/Roboto-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Roboto-Medium';
  src: url('fonts/fontsRoboto/Roboto-Medium/Roboto-Medium.eot'),
  url('fonts/fontsRoboto/Roboto-Medium/Roboto-Medium.woff') format('woff'),
  url('fonts/fontsRoboto/Roboto-Medium/Roboto-Medium.ttf') format('truetype'),
  url('fonts/fontsRoboto/Roboto-Medium/Roboto-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Roboto-Bold';
  src: url('fonts/fontsRoboto/Roboto-Bold/Roboto-Bold.eot'),
  url('fonts/fontsRoboto/Roboto-Bold/Roboto-Bold.woff') format('woff'),
  url('fonts/fontsRoboto/Roboto-Bold/Roboto-Bold.ttf') format('truetype'),
  url('fonts/fontsRoboto/Roboto-Bold/Roboto-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_DancingScript-Bold';
  src: url('fonts/DancingScript-Bold/DancingScript-Bold.eot'),
  url('fonts/DancingScript-Bold/DancingScript-Bold.woff') format('woff'),
  url('fonts/DancingScript-Bold/DancingScript-Bold.ttf') format('truetype'),
  url('fonts/DancingScript-Bold/DancingScript-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


