.card-follow
    .card-follow-block
        img(src="").card-follow-block__img
        +svgIcon('iconFollow', '#', '', '#facebook')
    .card-follow-block
        img(src="").card-follow-block__img
        +svgIcon('iconFollow', '#', '', '#twitter')
    .card-follow-block
        img(src="").card-follow-block__img
        +svgIcon('iconFollow', '#', '', '#pinterest')
    .card-follow-block
        img(src="").card-follow-block__img
        +svgIcon('iconFollow', '#', '', '#instagram')

