.card-post
    .card-post-block
        img(src='').card-post-block__img
    .card-post-date
        .card-post-date__dash
        .card-post-date__title
            span 07 July, 2019
    .card-post-title
        h3 Were divided land his creature which have evening subdue
    .card-post-reviews
        .card-post-reviews__category
            svg.icon
                use.icon__link(href='#box')
            p Women Fashion
        .card-post-reviews__comments
            svg.icon
                use.icon__link(href='#comment')
            p 2 Comments
