.card
    .card-block
        img(src="").card-block__img
        ul.nav__list
            +iconLink('icon-block', '#', '', '#view')
            +iconLink('icon-block', '#', '', '#heart')
            +iconLink('icon-block', '#', '', '#basket')
    .card-text
        p Red Women Purses
    .card-stars
        ul.nav__list
            +iconLink('icon-stars', '#', '', '#stars')
            +iconLink('icon-stars', '#', '', '#stars')
            +iconLink('icon-stars', '#', '', '#stars')
            +iconLink('icon-stars', '#', '', '#stars')
            +iconLink('icon-stars', '#', '', '#stars')
    .card-price
        span $15.00