.card-small
    .card-small-block
        img(src="").card-small-block__img
    .card-small-text
        p Red Women Purses
    .card-small-stars
        ul.nav__list
            +iconLink('icon-stars', '#', '', '#stars')
            +iconLink('icon-stars', '#', '', '#stars')
            +iconLink('icon-stars', '#', '', '#stars')
            +iconLink('icon-stars', '#', '', '#stars')
            +iconLink('icon-stars', '#', '', '#stars')
    .card-small-price
        span $15.00