section.section
    .banner
        .container
            .banner-content
                .banner-content__overTitle
                    p ultimate collection
                .banner-content__title
                    h1 Complete Women Fashion Here
                .banner-content__button
                    button.btn
                        .btn__text shop now
