section.section
    .container
        .feature
            .feature-block
                .feature-block__icon
                    svg.icon.feature-icon
                        use.icon__link(href='#money-bag')
                .feature-block__title
                    h4 Money back guarantee
                .feature-block__text
                    span great fill signs he evening
            .feature-block
                .feature-block__icon
                    svg.icon.feature-icon
                        use.icon__link(href='#delivery')
                .feature-block__title
                    h4 Free Delivery
                .feature-block__text
                    span great fill signs he evening
            .feature-block
                .feature-block__icon
                    svg.icon.feature-icon
                        use.icon__link(href='#headphone')
                .feature-block__title
                    h4 Always support
                .feature-block__text
                    span great fill signs he evening
            .feature-block
                .feature-block__icon
                    svg.icon.feature-icon
                        use.icon__link(href='#bitcoin')
                .feature-block__title
                    h4 Secure payment
                .feature-block__text
                    span great fill signs he evening
