section.section
    .container
        .featureProduct
            .featureProduct__title
                h2 Featured product
            .featureProduct__cards
                include card/card
                include card/card
                include card/card
