footer.footer
    .container
        .widget
            .widget-info
                .footer-widget
                    .footer-widget__title
                        h4 About Us
                    .footer-widget__text
                        a(href="#") Who we are
                        a(href="#") Work with us
                        a(href="#") Become a supplier
                        a(href="#") Investor relations
                        a(href="#") Our devices
                        a(href="#") Affiliate program
                .footer-widget
                    .footer-widget__title
                        h4 Useful links
                    .footer-widget__text
                        a(href="#") Contact us
                        a(href="#") Common FAQs
                        a(href="#") Terms & Conditions
                        a(href="#") Return policy
                        a(href="#") Cancellation
                        a(href="#") Track orders
                .footer-widget
                    .footer-widget__title
                        h4 Online shopping
                    .footer-widget__text
                        a(href="#") Men shopping
                        a(href="#") Women shopping
                        a(href="#") Gift cards
                        a(href="#") Home & living
                        a(href="#") Electronic
                        a(href="#") Accessories
            .widget-social
                .footer-widget
                    .footer-widget__title
                        h4 Experience app on mobile
                    .footer-widget__button
                        button.btn.btn-small.btn-google
                            .btn-small-content
                                .btn-small-content__icon
                                    svg.icon.iconAndroid
                                        use.icon__link(href='#android')
                                .btn-small-content__text
                                    .btn-small-content__overtitle
                                        span Get it on
                                    .btn-small-content__title
                                        h5 Google Play
                        button.btn.btn-small.btn-apple
                            .btn-small-content
                                .btn-small-content__icon
                                    svg.icon.iconApple
                                        use.icon__link(href='#apple')
                                .btn-small-content__text
                                    .btn-small-content__overtitle
                                        span Get it on
                                    .btn-small-content__title
                                        h5 App Store
                    .footer-widget__title
                        h4 Follow Us
                    .footer-widget__socialIcon
                        ul.nav__list.footer-widget__list
                            +iconLink('iconSocial', '#', '', '#facebook')
                            +iconLink('iconSocial', '#', '', '#twitter')
                            +iconLink('iconSocial', '#', '', '#pinterest')
                            +iconLink('iconSocial', '#', '', '#instagram')