section.section
    .container
        .mostPopular
            .mostPopular__title
                h2 Most popular
            .mostPopular__cards
                include card/card-small
                include card/card-small
                include card/card-small
                include card/card-small