section.section
    .offer
        .container
            .offer-content
                .offer-content__title
                    span 50% off
                .offer-content__text
                    span all women&rsquo;s collection
                .offer-content__batoon
                    button.btn
                        .btn__text Shop now