section.section
    .container
        .silonJournal
            .silonJournal__title
                h2 Silon Journal
            .silonJournal__cards
                include card/card-post
                include card/card-post
                include card/card-post
