section.section
    .container
        .trendingProduct
            .trendingProduct__title
                h2 Trending Product
            .trendingProduct__cards
                include card/card-small
                include card/card-small
                include card/card-small
                include card/card-small
                include card/card-small
                include card/card-small
                include card/card-small
                include card/card-small