.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 33%;
  margin: 30px auto;
  //margin: 0 30px 30px 0;
  //&:nth-child(3n){
  //  margin-right: 0;
  //}

  &-block{
    max-width: 360px;
    width: 100%;
    height: 450px;
    cursor: pointer;
    transition: background 0.5s ease;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: #f0f2f1;
    padding-bottom: 55px;

    &:hover{
      background: #7e987a;
    }

  }

  &-text{
    font-family: 'Conv_Roboto-Regular', sans-serif;
    line-height: 1.15;
    opacity: 0.5;
    margin-top: 25px;
  }
}