header.headerTop
    .container
        .info
            .contact
                .contact-phone
                    .contact__text
                        span Phone:
                    .contact__link
                        a(href="#") +01 256 25 235
                .contact-email
                    .contact__text
                        span Email:
                    .contact__link
                        a(href="#") info@eiser.com
            .settings
                .setting
                    a(href="#")
                        span gift card
                .setting
                    a(href="#")
                        span track order
                .setting
                    a(href="#")
                        span language



