.offer{
  background: #eae2d9;
  padding: 150px 0 170px;

  &-content{
      display: inline-flex;
      flex-direction: column;
      align-items: center;
    &__title{
      font-family: 'Conv_DancingScript-Bold', sans-serif;
      font-size: 7.14rem; /* 100px */
      line-height: 0.16;
      opacity: 0.75;
    }
    &__text{
      font-family: 'Conv_Roboto-Light', sans-serif;
      font-size: 3rem; /* 42px */
      line-height: 1.38;
      text-align: center;
      opacity: 0.5;
      text-transform: uppercase;
      margin: 100px 0 50px;

    }
  }
}